<button class="test-all-filter active">All</button>
<button class="test-podcast-filter">Podcast</button>
<button class="test-talks-filter">Talks</button>
<button class="test-blog-filter">Blog</button>
<textarea class="test-search-box">Search</textarea>


{{#each model as |resource|}}
  <div class="test-resource-card test-resource-card__title" href={{resource.url}} title={{resource.title}}>
    <span class="test-resource-card__type" type={{resource.type}}></span>
    <img src="{{resource.imageUrl}}">
    <span class="test-resource-card__preview">{{resource.previewText}}</span>
    <span class="test-resource-card__publishDate">{{resource.publishDate}}</span>
  </div>
{{/each}}
